food-search {
   /* text-align: center;*/
    .title1 {
        font-size: 20px;
        color: $orange;
        font-weight: bold;
    }
    .title2 {
        color: #504e4e;
        font-weight: bold;
    }
    ion-list .item {
        border-bottom: 1px solid $orange !important;
    }
    .datetime {
        padding: 0px !important;
    }
    .logo {
        width: 25%;
        border-radius: 50%;
        margin-top: 2%;
        border: 1px solid #d0330f;
        -webkit-box-shadow: 1px 2px 9px 11px #efefef;
    }
    .item-button {
        height: 2.8em !important;
    }
    .card-img {
        width: 70px;
    }
    .tag {
        font-size: 16px;
        font-weight: bold;
        color: #424242;
    }
      .selector {
   /* font-family: SFNSDisplay;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    color: #29235e;*/
    background-color: #ffffff;
    width: 100% !important;
    max-width: 100% !important;
   /* justify-content: center;
    border: solid 2px #e8ebf0;
    background-color: #ffffff;
    text-align: center;*/
  }
}